    
    <!-- Javascript script pages -->
    <script type="text/javascript" src="helper.js"></script>

    <script type="text/javascript" src="../toolboxes/jquery-1.7.2.js"></script>
    <!--     <script type="text/javascript" src="../toolboxes/GeoLocator.js"></script> -->
    <script type="text/javascript" src="../toolboxes/jPlayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="../toolboxes/jPlayer/createjPlayerHiddenDiv.js"></script>
 
    <!-- Network Client -->
    <script type="text/javascript" src="../toolboxes/json_rpc/json2.js"></script>
    <script type="text/javascript" src="../toolboxes/json_rpc/jquery.zend.jsonrpc.js"></script>
    
    <script type="text/javascript" src="facebook/FaceBookHelper.js"></script>
    
    <script type="text/javascript" src="compiled/CamirHerd.js"></script>