<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../style/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div id="privacy">
<h2>Privacy Policy</h2>
<p>This Privacy Policy was last revised on November 20th 2012 </p>
<p>City University knows that you care how information about you is used and shared.
    This Privacy Policy explains what information of yours will be collected by Spot the Odd Song Out,
    further called the "game" when you play the game,
    how the information will be used, and how you can control the collection and deletion of information.
    We will not use or share your information with anyone except as described in this Privacy Policy. </p>

<h2>How We Collect Information</h2>
<p><strong>User-Provided Information:</strong>
    When you play the "Spot the Odd Song Out" game on a social network site,
    you provide us with the information associated with your account on the social network site in accord
    with this site’s terms of use. 
    Otherwise you may provide information through use of our web site at [ourWebsite],
    using a desktop PC or mobile device,
    where some information is requested for participation in the game.
</p>
<p><strong>Personal Information </strong>
    We collect both personal and non-personal user information.
    Personal information is information that identifies you and that can
    be used alone, without further data, to contact you on-line or off-line. In the Spot the Odd Song Out
    game, this particularly includes your social network id (e.g.Facebook id).
</p>

<p><strong>Non-Personal Information </strong>
    When you play Spot the Odd Song Out, we may collect certain non-personally identifiable information.
    The non-personal information collected includes demographic information such as gender and age,
    geo-location information such as your country and city, information about your computer such as
    software, platform, mobile device, Internet Protocol (IP) address and
    game play statistics such as scores and achievements, user rankings and time spent playing our games.
</p>
<p><strong>Game Usage Information:</strong>
    During game play we also record your choices and input information,
    such as song votes, gained points and listening times.
</p>
<p><strong>Cookies Information:</strong> We do not make use of any cookies for the game,
    but your social network may do so. Have a look in the privacy policy of your social network 
    for information on whether and how they use cookies."
</p>


<h2>How We Use Your Information</h2>
<p> Firstly, your information enables us to operate the features and functionality
    of the Spot The Odd Song Out game. This includes the highscore tables and gameplay experience,
    e.g. creating artificial players or choosing human game partners for you.

    Apart from this, we do not use your personal information for any other purposes.
</p>

<p> Secondly, we use your non-personal information in research to train music similarity models at City University.
Especially your demographic and location information helps us understand how
different groups of people perceive music similarity. 
Following termination of your usage of Spot the Odd Song Out, we may retain
and continue to use your non-personal information in
de-identified form for purposes of research.
</p>
<p>
Thirdly, we use your game-usage and non-personal information data in anonymised form for
generating the public music similarity dataset STOSO as described below.
</p>



<h2>How We Share Your Information</h2>
<p><strong>Personal Information:</strong>
Only your first name becomes available to other players of the Spot the Odd Song Out game,
in order to identify you in the highscore tables and to other players who share a match with you.
Your score may be sent to your friends in form of a Facebook achievement update.
Apart from this, we will not share other personal information with anyone.</p>

<p><strong>The STOSO Dataset</strong> 
 The non-personal data will be used to create a freely available
 dataset intended for use in music similarity research.
 We are taking great care to anonymise your data, keeping the dataset
 free from any possibly personally identifiable information.
 The dataset will contain your age range (in 5 years spans), country, city and gender. 
 This will be linked to game play data such as votes for the "Odd Song Out".
 Furthermore we may include anonymised information derived from your non-personal information,
 such as musical genres related to your music likes.
</p>

<p>Except as otherwise described in this Privacy Policy, we will not disclose personal
    information to any third party unless required to do so by law or subpoena or
    if we believe that such action is necessary to (a) conform to the law,
    comply with legal process served on us or our affiliates, or investigate,
    or take action regarding suspected or actual illegal activities;</p>

<h2>How We Protect Your Information</h2>
<p>
    For ensuring your privacy, the STOSO dataset will at no point contain personal
    information like your Facebook id, email address, IP address,
    group or like names and the such.
</p>
<p> We cannot, however, ensure or warrant the security of any information you transmit to 
    Spot the Odd Song Out and you do so at your own risk. Please note that this is not a guarantee
    that such information may not be accessed, disclosed, altered, or destroyed
    by breach of any of our physical, technical, or managerial safeguards.
    Your privacy settings may also be affected by changes to the
    functionality of our distributors, such as social networks.
    We are not responsible for the functionality or security measures of any third party.
</p>
<p>To protect your privacy and security, your personal data is only stored temporally</p>
<p>In the event that personal information is compromised as a result of a breach of security,
    we will promptly notify those persons whose personal information has been compromised,
    in accordance with the notification procedures set forth in this Privacy Policy,
    or as otherwise required by applicable law.</p>

<h2>Your Choices About Your Information</h2>
<p>You may, of course, decline to submit personally identifiable information through the Service, 
    in which case Spot the Odd Song Out may not be able to provide certain services to you.
    You may update or correct your account information and email preferences at any
    time by contacting us at our contact email. You can review and correct the information
    about you that Spot the Odd Song Out keeps on file by contacting us directly at [ourEmail].
</p>

<h2>Children&#8217;s Privacy</h2>
<p>Protecting the privacy of children is especially important. For that reason,
    Spot the Odd Song Out does not knowingly collect personal information
    from anyone under the age of 18.
    If you are under 18, please do not enter any personal data.
    In the event that we learn that we have collected personal information from a
    child under age 18, we will delete that information as quickly as possible.
    If you believe that we might have any information from or about a child under 18, please contact us at [ourEmail].
</p>

<h2>Links to Other Web Sites</h2>
<p>We are not responsible for the practices employed by websites linked to or from the game,
    nor the information or content contained therein. Please remember that when you use a link
    to go from the game to another website our Privacy Policy is no longer in effect.
    Your browsing and interaction on any other website, including those that have a link on our website,
    is subject to that website&#8217;s own rules and policies.
</p>
<h2>Changes to Our Privacy Policy</h2>
<p>If we change our privacy policies and procedures, we will post those changes on the 
    game to keep you aware of what information we collect, how we use it and under
    what circumstances we may disclose it. If you do not agree to any of these terms or any future Terms of Use,
    do not use or access (or continue to access) the Service.
</p>
<p>If you have any questions about this Privacy Policy, the practices of this site,
    or your dealings with this website, please contact us at [ourEmail] or as below:</p>
<p>Daniel Wolff<br>
  City University London<br>
  Northampton Square<br>
  EC1V 0HB London<br>
  England</p>

</div>
    </body>
</html>
