<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="../style/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div id="privacy">

<h2>Spot The Odd Song Out - Terms Of Service</h2>
This Agreement was last revised in February 2013
<p>
Welcome to the online game "Spot The Odd Song Out" ("Game", "We", "Our"). This page explains the terms
by which you may use this application. By accessing or using the game,
you signify that you have read, understood, and agree to be bound by this Terms of Use Agreement ("Agreement").
</p>
<p>
    Please note that Spot The Odd Song out is a non-commercial research project.
    We provide the game as part of our research project as-is. Although we take great
    care providing an excellent gaming experience and program, you are using
    Spot The Odd Song Out at your own risk.
    
    IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
    ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>


<p>
This Service is intended solely for Users who are eighteen (18) years
of age or older, and any registration, use or access to the
Service by anyone under 18 is strictly prohibited and in violation of this Agreement.
</p>
<h2> Adding the Application</h2>
To access the Game, you will need to add the Application to your account on your social network site,
which permits Spot The Odd Song Out to access your account information.
Adding the Application gives you access to the services and functionality t
hat we may establish and maintain from time to time and in our sole discretion.

<h2>Privacy Policy</h2>
Please read the separate policy on what data will be collected and how it will be used.

<h2> Service Rules</h2>
You agree not to engage in any of the following prohibited activities: <br/>
(i) copying, distributing, or disclosing any music of the game in any medium. The music
played to you remains property of Sevendigital and Magnatune or their artists, respectively.<br/>
(ii) You will not to access the game in a manner that sends more request messages to the servers
than a human can reasonably produce in the same period of time by using a conventional on-line web browser.

<p>
Spot The Odd Song Out may permanently or temporarily terminate, suspend,
or otherwise refuse to permit your access to the game without notice and liability for any reason,
including if in our sole determination you violate any provision of this Agreement, or for no reason.
Upon termination for any reason or no reason, you continue to be bound by this Agreement.
All aspects of the Service are subject to change or elimination at
our sole discretion. Spot The Odd Song Out reserves the right to interrupt
the Service with or without prior notice for any reason or no reason.
You agree that Spot The Odd Song Out will not be liable to you for any interruption of the
Service, delay or failure to perform.
</p>

<p>
We reserve the right to amend this Agreement at any time and without notice.
If we do this, we will post the amended Agreement on this page and
indicate at the top of the page the date the Agreement was last revised.
Your continued use of the Service after any such change constitutes your
acceptance of the new Terms of Use.
If you do not agree to any of these terms or any future Terms of Use,
do not use or access (or continue to access) the Service.
</p>

<p>Daniel Wolff<br>
  City University London<br>
  Northampton Square<br>
  EC1V 0HB London<br>
  England</p>

</div>
    </body>
</html>
